/* .light .zai-theme-customizer-container-body-item-svg.theme-light {
  display: none;
}
.dark .zai-theme-customizer-container-body-item-svg.theme-dark {
  display: none;
} */

/* Customise */
.zai-theme-customizer-container-body-item-svg {
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.zai-theme-customizer-container-body-item-svg.active:after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  position: absolute;
  z-index: 9;
  border-radius: 75px;
  left: auto;
  padding: 11px;
}

.zai-theme-customizer-container-body-item-svg.theme-dark.active:after {
  right: 0;
}
.zai-theme-customizer-container-body-item-svg img {
  height: 100%;
  min-height: 19px;
}